.popup__button-save {
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.popup__button-save:hover {
  opacity: 0.8;
  transition: 0.5s;
}
